<table border="1">
    <tr>
        <th>name</th>
        <th>Email</th>
        <th>password</th>
    </tr>
    {{#each mydata}}
        <tr>{{user_name}}</tr>
        <tr>{{user_email}}</tr>
        <tr>{{user_password}}</tr>
    {{/each}}
</table>